[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==22.12.0"
flake8 = "*"
isort = "*"
pytest-mypy-plugins = "*"

[packages]
django-filter-stubs = {editable = true,path = "."}